.fundoCadastro {
    background-image: url("https://img.freepik.com/fotos-gratis/foto-hipnotizante-de-ondas-do-oceano-azul-cristalino_181624-48854.jpg?t=st=1737632834~exp=1737636434~hmac=769c744788302e454104b9b043dcc3c39b4fbccecd1d96b0728004954980301c&w=996");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    border-start-end-radius: 100;
  }